{% extends 'blog/base.html' %}
{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">{{ post.published_date }} von 
                {{ post.getAuthorName }}...
                {% if user.is_authenticated %}
                    <a href="{% url 'post_detail' pk=post.pk %}">
                    Kommentare: {{ post.comments.count }}</a>
                {% else %}
                    <a href="{% url 'post_detail' pk=post.pk %}">
			    Kommentare: {{ post.approved_comments.count }}</a>
                {% endif %}
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">
            {{ post.title }}</a></h2>
            <p>{{ post.getTextFirstLine|linebreaksbr }}...</p>
            <hr>
        </div>
    {% endfor %}
{% endblock content %}
