{% extends 'blog/base.html' %}
{% block content %}
   {% for post in posts %}
	<div class="post">
	    <details>
		    <summary>
			    <h2 title="Gesamten Text anzeigen...">
				    {{ post.title }}</h2>
		    </summary>
		    <p>{{ post.text|linebreaksbr }}</p>
	   	    <a href="{% url 'post_detail' pk=post.pk %}">
			Details und Kommentare... </a>
	    </details>
            <div class="date">{{ post.published_date }} von 
                {{ post.getAuthorName }}...
                {% if user.is_authenticated %}
			<p>Kommentare: {{ post.comments.count }}</p>
                {% else %}
			<p>Kommentare: {{ post.approved_comments.count }}</p>
                {% endif %}
            </div>
	    <hr>
        </div>
    {% endfor %}
{% endblock content %}
